*.iml
*.ipr
*.iws
*.log
*.temp
*.tmp
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
**/build/
!gradle/wrapper/gradle-wrapper.jar
/captures
.externalNativeBuild
.cxx
local.properties
